div.container-fluid {
	margin: 0px;
	padding: 80px 100px;
	width: 100% !important;
}

div.kennel {
	margin: 10px auto;
	padding: 10px;
	height: 100%;
	border-radius: 15px;
	background-color: #e5e5e5;
}

/* ------------------------------------ MEDIA QUERIES */

/* large devices <1200px */
@media (max-width: 1199px) {
	div.container-fluid {
		padding: 50px;
	}
}

/* medium devices <992px */
@media (max-width: 991px) { 
}

/* small devices <768px */
@media (max-width: 767px) { 
    div.container-fluid {
		padding: 25px;
	}
}

/* tiny devices < 576px */
@media (max-width: 575px) { 
}